
header {
    max-height: 150px;
}

.header-top {
    background-color: hsla(356,86%,55%,1);
    height: 100px;
    max-height: 100px;
}

.top-nav {
    flex-direction: row-reverse;
    width: inherit;
    height: 50px;
    border: 1px solid blue;
}

.page-nav {
    display: flex;
}

form div {
    display: flex;
    border: 1px solid green;
}

.leaf {

}

.date-filed, .subscribe {
    position: relative;
    top: 50px;
}

.api {
    position: absolute;
    top: 12px;
}

.header-middle {
    transform: translate(-50%,0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding: 10px 0;
}

.weather-icon {
    width: 24px;
    height: 24px;
    margin: 0;
}